body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'open sans';
}
#root{
    display: flex;
    width: 100%;
    justify-content: center;
}
.app-link{
    color: rgb(5, 178, 184);
    text-decoration: none;
    display: flex;
    flex-flow: row;
    align-items: center;
    margin: 20px 0px;

    .app-link__icon{
        margin-right: 15px;
    }
    .app-link__text{

    }
}
.top-fix{
    position: absolute;
    left: 25px;
    top: 0px;
}
.menu-container{
    margin-top: 40px;
}
.add-form{
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    align-items: stretch;
    width: 330px;
    justify-content: space-between;
    
    .add-form__input{
        font: inherit;
        width: 100%;
        border: 1px solid rgb(130, 129, 172);
        border-radius: 3px;
        margin: 0;
        padding: 10px;
        background: none;
        
        &:focus{
            outline-offset: -2px;
        }
    }
    .add-form__colorPicker{
        border: 0px;
        height: 39px;
        width: 106px;
        padding: 0px;
        background-color: transparent;
        border-radius: 50%;
    }
    
}

.add-form > * {
    margin: 0px 15px;
}

.container{
    height: 100vh;
    width: 100%;
    overflow: hidden;
    .color-app{
        padding: 50px;
        
        .color-list{
            margin-top: 40px;
            display: flex;
            flex-flow: row;
            
            .color-box{
                margin-right: 30px;
                display: flex;
                justify-content: center;
                padding: 12px;
                .color-text{
                    width: 100%;
                }
                
                .color-value{
                    width: 80px;
                    height: 80px;
                    border-radius: 50%;
                }
                
                .box-close{
                    float: right;
                    width: 50px;
                    height: 50px;
                }
                
                .star{
                    width: 20px;
                    height:20px;
                    background-color: rgb(179, 179, 179);
                    display: inline-block;
                    margin-left: 3px;
                    
                    cursor: pointer;
                    height: 25px;
                    width: 25px;
                    margin: 2px;
                    float: left;
                    background-color: grey;
                    clip-path: polygon(
                    50% 0%,
                    63% 38%,
                    100% 38%,
                    69% 59%,
                    82% 100%,
                    50% 75%,
                    18% 100%,
                    31% 59%,
                    0% 38%,
                    37% 38%
                    );
                }
                .star.on{
                    background-color: rgb(255, 166, 0);
                }
            } 
        }  
    }
    
}


.user-detail{
    padding: 50px;
}



.loading{
    width: 100%;
    height: 93%;
    display: flex;
    align-items: center;
    justify-content: center;
    .loading__progress-bar{
        
    }
}
.home-container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 1200px;
    .home-container__image{
        img{
            height: 300px;
            margin-left: -25px;
        }
        margin-right:70px;
    }
    
    .home-container__content{
        width: 600px;
        p{
            text-align: justify;
        }
    }
}
    