.container{
    background-color: gray;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}
.color-app{
    padding: 50px;
}

.color-list{
    display: flex;
    flex-flow: row;
}

.color-box{
    width: 200px;
    height: 220px;
    border: 1px solid;
    border-radius: 15px;
    margin: 15px 15px 15px 0px;
}

.color-text{
width: 100%;
text-align: center;
}

.color-value{
    width: 100%;
    height: 80px;
}

.box-close{
    float: right;
}

.star{
    width: 20px;
    height:20px;
    background-color: rgb(179, 179, 179);
    display: inline-block;
    margin-left: 3px;
}
.star.on{
    background-color: yellow;

}